@import './classes';

@each $keyClass, $valueClass in $spacingClasses {
  $prefix: map-get($valueClass, 'prefix');
  $props: ();
  @for $i from 0 through 40 {
    $props: map-merge(
      $map1: $props,
      $map2: (
        #{$i}: $i * 4px,
      ),
    );
  }
  @include generate-classes($props, $prefix, $keyClass);
  @include generate-breakpoints($props, $prefix, $keyClass);
}
