@import './classes';

@each $key-class, $value-class in $spacing-classes {
  $prefix: map-get($value-class, 'prefix');
  $props: ();
  @for $i from 0 through 40 {
    $props: map-merge(
      $map1: $props,
      $map2: (
        #{$i}: $i * 4px,
      ),
    );
  }
  $props: map-merge(
    $map1: $props,
    $map2: (
      auto: auto,
    ),
  );
  @include generate-classes($props, $prefix, $key-class);
  @include generate-breakpoints($props, $prefix, $key-class);
}
