$spaces: (
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40
);
$sides: (end, start);
$direction: (
  'l': 'left',
  'r': 'right',
  'b': 'bottom',
  't': 'top',
);
@each $space in $spaces {
  @each $key, $value in $direction {
    .m#{$key}-#{$space} {
      margin-#{$value}: $space * 4px;
    }
    .p#{$key}-#{$space} {
      padding-#{$value}: $space * 4px;
    }
  }
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-inline-#{$side}: $space * 4px;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-inline-#{$side}: $space * 4px;
    }
  }

  .mx-#{$space} {
    margin-left: $space * 4px;
    margin-right: $space * 4px;
  }
  .my-#{$space} {
    margin-top: $space * 4px;
    margin-bottom: $space * 4px;
  }
  .px-#{$space} {
    padding-left: $space * 4px;
    padding-right: $space * 4px;
  }
  .py-#{$space} {
    padding-top: $space * 4px;
    padding-bottom: $space * 4px;
  }
  .m-#{$space} {
    margin: $space * 4px;
  }
  .p-#{$space} {
    padding: $space * 4px;
  }

  .gp-#{$space} {
    gap: $space * 4px;
  }
}

@each $space in $spaces {
  @each $key, $value in $direction {
    @each $keyBreakPoint, $size in $breakpoints {
      @media (min-width: $size) {
        .m#{$key}-#{$keyBreakPoint}-#{$space} {
          margin-#{$value}: $space * 4px;
        }
        .p#{$key}-#{$keyBreakPoint}-#{$space} {
          padding-#{$value}: $space * 4px;
        }
      }
    }
  }
  @each $side in $sides {
    @each $keyBreakPoint, $size in $breakpoints {
      @media (min-width: $size) {
        .m#{str-slice($side, 0, 1)}-#{$keyBreakPoint}-#{$space} {
          margin-inline-#{$side}: $space * 4px;
        }

        .p#{str-slice($side, 0, 1)}-#{$keyBreakPoint}-#{$space} {
          padding-inline-#{$side}: $space * 4px;
        }
      }
    }
  }

  @each $keyBreakPoint, $size in $breakpoints {
    @media (min-width: $size) {
      .mx-#{$keyBreakPoint}-#{$space} {
        margin-left: $space * 4px;
        margin-right: $space * 4px;
      }
      .my-#{$keyBreakPoint}-#{$space} {
        margin-top: $space * 4px;
        margin-bottom: $space * 4px;
      }
      .px-#{$keyBreakPoint}-#{$space} {
        padding-left: $space * 4px;
        padding-right: $space * 4px;
      }
      .py-#{$keyBreakPoint}-#{$space} {
        padding-top: $space * 4px;
        padding-bottom: $space * 4px;
      }
      .m-#{$keyBreakPoint}-#{$space} {
        margin: $space * 4px;
      }
      .p-#{$keyBreakPoint}-#{$space} {
        padding: $space * 4px;
      }
      .gp-#{$space} {
        gap: $space * 4px;
      }
    }
  }
}
