@import './classes';
@import './globals';

@each $key-class, $value-class in $classes {
  $prefix: map-get($value-class, 'prefix');
  $props: map-get($value-class, 'props');
  $has-media-query: map-get($value-class, 'has-media-query');
  @include generate-classes($props, $prefix, $key-class);
  @if ($has-media-query) {
    @include generate-breakpoints($props, $prefix, $key-class);
  }
}
