@import './classes';
@import './globals';

@each $keyClass, $valueClass in $classes {
  $prefix: map-get($valueClass, 'prefix');
  $props: map-get($valueClass, 'props');
  $hasMediaQuery: map-get($valueClass, 'hasMediaQuery');
  @include generate-classes($props, $prefix, $keyClass);
  @if ($hasMediaQuery) {
    @include generate-breakpoints($props, $prefix, $keyClass);
  }
}
