@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.rotating-animation {
  animation: rotating 2s linear infinite;
}

.slide-animation {
  animation: slide 2s linear infinite;
}
